env/
node_modules/
__pycache__
*.pyc
.pipcache
.benchmarks/
.pytest_cache
.mypy_cache
.DS_Store
.vscode/

.idea/workspace.xml
.idea/tasks.xml
.idea/maple.iml
.idea/misc.xml
.idea/mypy.xml
.idea/codeStyles/
.idea/markdown-navigator*
.idea/GitScope.xml
.idea/jsLibraryMappings.xml
.idea/codeStyleSettings.xml
.idea/encodings.xml
.idea/dataSources*
.idea/dataSources/
.idea/shelf/
