// Default color pallet
$defaultPink: #FF007C;
$defaultVelvet: #7D00B5;
$defaultIndigo: #3D09A2;
$defaultBlue: #2D62ED;
$defaultLightBlue: #00CCF2;
$defaultWhite: #FFFFFF;
$defaultGreen: #39D5CF;

// Dark mode color pallet
$primaryDark: #181D23;
$secondaryDark: #29313A;
$ternaryDark: #455060;

// Extras
$shadowColor: #272D3B33;
$borderColor: #D3D3D3;
$textColor: #272D3B;
